# Flutter/Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock
.tooling/
screenshots/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug.keystore
android/app/release.keystore
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
